@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased;
  }
}

@layer base {
  body {
    @apply bg-brand-navy text-slate-600 font-sans antialiased;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold text-[#0f2d63]; /* Default to Brand Navy */
  }
}
